{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://neuranet-ai.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v1/chat": {
      "post": {
        "description": "Sends a request to the NeuraNET Text Generation (Chat) API",
        "requestBody": {
          "description": "Payload for sending a message to NeuraNET chatbot",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response from NeuraNET chatbot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Error in the request format or content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/image": {
      "post": {
        "summary": "Generate an image",
        "description": "Generates an image based on the provided prompt and settings.",
        "operationId": "generateImage",
        "requestBody": {
          "description": "Payload containing image generation settings and prompt",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "An image has been successfully generated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ChatRequest": {
        "type": "object",
        "properties": {
          "settings": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "Model identifier for the chat response generation."
              }
            },
            "required": [
              "model"
            ]
          },
          "conversation": {
            "type": "object",
            "properties": {
              "Instruct": {
                "type": "string",
                "description": "Optional instructions for the AI model."
              },
              "User": {
                "type": "string",
                "description": "The user's part of the conversation."
              },
              "AI": {
                "type": "string",
                "description": "Optional AI's part of the conversation."
              }
            },
            "required": [
              "User"
            ]
          }
        },
        "required": [
          "settings",
          "conversation"
        ]
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "responses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The AI-generated message based on the user input."
                }
              }
            },
            "description": "The list of messages forming the conversation history."
          }
        }
      },
      "ImageRequest": {
        "type": "object",
        "properties": {
          "content": {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "Model identifier for the image generation."
              },
              "prompt": {
                "type": "string",
                "description": "The prompt describing the image to be generated."
              },
              "width": {
                "type": "integer",
                "description": "Width of the generated image in pixels."
              },
              "height": {
                "type": "integer",
                "description": "Height of the generated image in pixels."
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          }
        },
        "required": [
          "content"
        ]
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "result-url": {
                  "type": "string",
                  "description": "URL to the generated image."
                }
              }
            },
            "description": "Array of results including URLs to the generated images."
          }
        }
      }      
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}